body {
   font-family: 'Roboto', sans-serif;
   margin: 16px;   
}

#siteContent {
    max-width: 1080px;
    margin:0 auto;
}

/* NAVIGATION */

.logo {
font-family: 'Righteous', cursive ;
font-weight: bold;
font-size: 2.5rem;
margin: 0;
}

.russo {
    font-family: 'Russo One', sans-serif;    
}

nav {
    display:flex;
    justify-content: space-between;
}

nav li {
    display: inline;
    margin: 0px 10px;
}

#startNow {
    padding-top: 10px;
}

.button {
    background-color: rgb(31, 162, 223);
    padding: 5px 10px;
    border-radius: 20px;
    float: right;
    display:inline;
}

.button p {
    color: whitesmoke;
    margin: 0%;
}

#navMenu {
    display:none;
}

/* MAIN */

#hero {
    position: relative;
}

#mainBanner {
    background-image: url("./hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

#hero h1 {
    position: absolute;
    top: 80px;
    left: 80px;
    color: whitesmoke;
    font-size: 2rem;
    font-family: 'Russo One', sans-serif;
    max-width: 600px;
    margin-right: 80px;
}

#heroButton {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px; 
}

/* FEATURES */

.feature {
  display: flex;
  margin-top: 20px;  
} 

.leftBox {
    max-width: 50%;
    margin-right: 20px
}

.feature img {
    max-width: 50%;
    max-height: 350px;
}

.feature p {
    text-align: justify;
}

.feature .button {
    margin-bottom: 20px;
}
 
  .rightBox {
      max-width: 50%;
      margin-left: 20px
  }
  

/* FOOTER */

footer {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width:600px;
} 

footer ul {
    display:flex;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap;
    justify-items: start;
}

footer li {
    min-width: 100px;
    display: inline;
    margin: 10px 10px;
}


/* RESPONSIVE */


@media only screen and (max-width: 740px) {
    #company, #useCases {
        display: none;
    }    
}   

@media only screen and (max-width: 600px) {
   
    #hero h1 {
        font-size: 1.5rem;
        top: 40px;
        left: 40px;
    }

    #navMenu {
        display: block;
        margin-top: 16px;
    }
    
    #heroButton {
        display: block;
    }    

    #startNow {
        display: none;
    }   
    
    
    .topNav {
        display: none;
    }

       .lefthanded {
        flex-direction: column;
    }

    .righthanded {
        flex-direction: column-reverse;
    }

    .leftBox {
        max-width: 100%;
    }

    .rightBox {
        max-width: 100%;
    }

    .feature img  {
        max-width:100%;
    }

}   